/* Generic page CSS */

html,
body {
	margin: 0;
	padding: 0;
	font-family: TrebuchetMS, sans-serif;
	background-color: #e0e0e0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
}

body > .container {
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.box {
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	padding: 1rem;
}

.grid-container-two-columns {
	display: grid;
	grid-template-columns: 20% auto;
	grid-column-gap: 1.5rem;
}

/* Navbar CSS */

nav {
	width: 100%;
	height: 3.5rem;
	background-color: #2d6cc2;
	font-family: HelveticaNeue, sans-serif;
	position: fixed;
	top: 0;
	z-index: 999;
}

nav a {
	height: 3.5rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	color: white;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 3.5rem;
	float: left;
}

nav a:hover {
	background-color: #3876c9;
}

nav .logo {
	font-size: 2rem;
	margin-right: 1rem;
}

nav .active {
	background-color: #3073cf;
}

/* Learn page CSS */

.right {
	float: right;
}

.description {
	max-width: calc(100% - 4rem);
}

.description > .box:before {
	content: " ";
	display: table;
}

.description > .box:after {
	content: " ";
	display: table;
	clear: both;
}

#description-image {
	float: right;
	object-fit: cover;
	max-width: 12rem;
	max-height: 100%;
	border-radius: 0 6px 6px 0;
	display: none;
}

.description-text {
	float: left;
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	max-width: 100%;
	padding: 0;
}

.description-text > p {
	padding-bottom: 0;
	overflow: hidden;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}

.image-box {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.image-box:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

/* Course Page CSS */
.course-img {
	height: 13rem;
	float: none;
}

.course-image {
	width: 100%;
	height: 13rem;
	border-radius: 6px 6px 0 0;
	object-fit: cover;
}

.course-description {
	height: auto;
	float: none;
}

.course-title {
	padding: 0 0 0 1rem;
}

.course-intro {
	padding: 0 1rem 1rem 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8rem;
}

ul.task {
	list-style-type: circle;
	margin: 0;
	padding: 0;
}

a.task {
	color: black;
	text-decoration: none;
}

.task-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	max-width: 30rem;
	border-radius: 0 6px 6px 0;
	padding: 1rem;
}

.grey-box {
	background-color: #e0e0e0;
	padding: 1rem;
}

/* Button CSS */

.button-align {
	bottom: 0;
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	height: auto;
	width: auto;
	margin-top: auto;
	float: none;
}

.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	width: 100%;
	border-radius: 6px;
	border: none;
	background-color: rgb(49, 132, 52);
	color: white;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
	transition: all 0.5s;
}

.button span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	position: absolute;
	content: '\00bb';
	opacity: 0;
	top: 0;
	right: -0.5rem;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 1rem;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Profile page CSS */

.profile-body-container {
	display: grid;
	grid-template-columns: 30% auto;
	grid-column-gap: 1.5rem;
	position: relative;
}

.sticky-grid-item {
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 5rem;
}

#profile-box-grid {
	display: grid;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	grid-template-columns: 40% auto;
	border-radius: 10px;
	padding: 1rem;
	grid-column-gap: 1rem;
}

#profile-picture {
	width: 7rem;
	height: 7rem;
	border-radius: 7rem;
	object-fit: cover;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#brief-profile-description {
	width: 100%;
	color: white;
	margin: auto;
}

#profile-description {
	grid-column-start: 1;
	grid-column-end: 3;
	line-height: 2rem;
	color: white;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.achievement-box {
	margin-left: auto;
	margin-right: auto;
	padding: 0.6rem;
	display: grid;
	width: 100%;
	grid-template-columns: 25% auto;
	grid-column-gap: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#achievements-container {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-row-gap: 0;
	grid-template-columns: auto;
}

#achievements-container hr {
	width: 100%;
	height: 0;
}

.achievement-icon {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	margin: auto;
	margin-top: 0;
}

.achievement-description {
	margin: 0;
	padding: 0;
}

.progress-bar {
	width: 90%;
	height: 1.5rem;
	border: 2px solid #80d4ff;
	border-radius: 1rem;
	padding: 0;
	position: relative;
	margin-top: 1rem;
}

.percentage {
	width: 100%;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	vertical-align: middle;
	line-height: 1.5rem;
}

.bar100 {
	border-radius: 2rem;
	background-color: #80d4ff;
	width: 100%;
	height: 100%;
}

.bar50 {
	border-radius: 2rem 0 0 2rem;
	background-color: #80d4ff;
	width: 50%;
	height: 100%;
}

.bar25 {
	border-radius: 2rem 0 0 2rem;
	background-color: #80d4ff;
	width: 25%;
	height: 100%;
}

/* Font CSS classes */

.big {
	font-size: larger;
}

.bigger {
	font-size: x-large;
}

/* Display the course section boxes more larger on tablet */

@media screen and (min-width: 40rem) {
	.flex-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image-box {
		margin-top: 2rem;
		width: auto;
		height: auto;
	}

	.course-img {
		float: left;
	}

	.course-image {
		width: 20rem;
		height: auto;
		border-radius: 6px 0 0 6px;
		object-fit: cover;
	}

	.course-description {
		position: relative;
		height: auto;
		width: calc(100%-20rem);
		float: right;
		clear: none;
	}

	.course-title {
		padding: 0 0 0 1rem;
	}

	.course-intro {
		padding: 0 1rem 1rem 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.8rem;
	}

	.button-align {
		position: relative;
		bottom: 0;
		text-align: center;
		padding-right: 1rem;
		padding-left: 1rem;
		padding-bottom: 1rem;
		height: auto;
		width: calc(100%-20rem);
		float: right;
		clear: none;
	}

	.button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
		border-radius: 6px;
		border: none;
		background-color: rgb(49, 132, 52);
		color: white;
		text-align: center;
		font-size: 1rem;
		padding: 1rem;
		transition: all 0.5s;
	}
}

/* Display the description-image on tablet and desktop */

@media screen and (min-width: 40rem) {
	#description-image {
		display: inline-block;
	}

	.description-text {
		max-width: calc(100% - 12rem);
	}
}

/* Display the course section orizontally on Laptop(L) and Desktop */

@media screen and (min-width: 74rem) {
	.description {
		max-width: 70rem;
	}

	.flex-container {
		align-items: initial;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 70rem;
		height: auto;
	}

	.image-box {
		width: 21.8rem;
		height: auto;
	}

	.course-img {
		height: 13rem;
		float: none;
	}

	.course-image {
		width: 100%;
		height: 13rem;
		border-radius: 6px 6px 0 0;
		object-fit: cover;
	}

	.course-description {
		height: auto;
		float: none;
	}

	.course-title {
		padding: 0 0 0 1rem;
	}

	.course-intro {
		padding: 0 1rem 1rem 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.8rem;
	}

	.button-align {
		bottom: 0;
		text-align: center;
		padding-right: 1rem;
		padding-left: 1rem;
		padding-bottom: 1rem;
		height: auto;
		width: auto;
		float: none;
	}

	.button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
		border-radius: 6px;
		border: none;
		background-color: rgb(49, 132, 52);
		color: white;
		text-align: center;
		font-size: 1rem;
		padding: 1rem;
		transition: all 0.5s;
	}
}