/* Generic page CSS */

html,
body {
	margin: 0;
	padding: 0;
	font-family: TrebuchetMS, sans-serif;
}

html {
	background-color: #e0e0e0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
}

body > .container {
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.box {
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	padding: 1rem;
}

.black-hr {
	border: 0;
	height: 5px;
	line-height: normal;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(211, 211, 211, 0.75), rgba(0, 0, 0, 0));
}

.white-hr {
	border: 0;
	height: 5px;
	line-height: normal;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

/* Navbar CSS */

nav {
	width: 100%;
	height: 3.5rem;
	background-color: #2d6cc2;
	font-family: HelveticaNeue, sans-serif;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

nav .item {
	height: 3.5rem;
	display: inline-block;
	vertical-align: middle;
	float: left;
	position: relative;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	text-align: center;
	cursor: pointer;
	color: white;
	text-decoration: none;
	line-height: 3.5rem;
}

nav .logo {
	font-size: 2rem;
	margin-right: 1rem;
}

nav .active {
	background-color: rgba(0, 0, 0, 0.05);
}

nav .submenu {
	display: none;
	position: absolute;
	background-color: #474747;
	left: 0;
	border-radius: 0 0 8px 8px;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	z-index: 901;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

nav .submenu .item {
	display: block;
	float: none;
	text-align: left;
	line-height: 2.4rem;
	height: 2.4rem;
	padding-left: 1rem;
}

nav .submenu .submenu-section {
	font-size: 0.6rem;
	font-weight: 900;
	color: #d9d9d9;
	text-align: left;
	line-height: 1.8rem;
	padding-left: 1rem;
}

nav .item:focus,
nav .item:hover {
	outline: none;
	background-color: rgba(0, 0, 0, 0.2);
}

nav .item:focus .submenu,
nav .item:hover .submenu {
	display: block;
}

#coursemenu > .submenu {
	width: 10rem;
}

#usermenu > .submenu {
	width: 8rem;
}

.user-image-small {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	border-radius: 2rem;
}

nav .user-image-small {
	margin-right: 0.6rem;
	margin-bottom: 0.3rem;
	vertical-align: middle;
}

/* Learn page CSS */

.right {
	float: right !important;
}

.description {
	max-width: calc(100% - 4rem);
}

.description > .box::before {
	content: " ";
	display: table;
}

.description > .box::after {
	content: " ";
	display: table;
	clear: both;
}

#description-image {
	float: right;
	object-fit: cover;
	max-width: 12rem;
	max-height: 100%;
	border-radius: 0 6px 6px 0;
	display: none;
}

.description-text {
	float: left;
	position: relative;
	max-width: 100%;
	padding: 0;
}

.description-text > p {
	padding-bottom: 0;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-box {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.image-box:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.course-img {
	height: 13rem;
	float: none;
}

.course-image {
	width: 100%;
	height: 13rem;
	border-radius: 6px 6px 0 0;
	object-fit: cover;
}

.course-description {
	display: flex;
	flex-direction: column;
}

.course-description > p {
	margin-top: 0;
}

.course-title {
	padding: 0 0 0 1rem;
}

.course-intro {
	padding: 0 1rem 1rem 1rem;
	font-size: 0.8rem;
}

/* Course Page CSS */

.grid-container-two-columns {
	display: grid;
	grid-template-columns: 20% calc(80% - 1.5rem);
	grid-column-gap: 1.5rem;
}

ul.task {
	margin: 0;
	padding: 0;
}

ul.task > li {
	margin-bottom: 0.2rem;
}

a.task {
	color: #5c5c5c;
	text-decoration: none;
}

.task-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	max-width: 30rem;
	border-radius: 0 6px 6px 0;
	padding: 1rem;
}

.grey-box {
	padding: 0 1.5rem 1.5rem 1.5rem;
	color: #5c5c5c;
	overflow: hidden;
}

.chapter {
	padding-top: 0;
	margin-top: 0;
	color: #5c5c5c;
}

.task-title {
	padding-bottom: 0;
	margin-bottom: 0;
}

#task-button {
	display: none;
}

#taskmenu:focus {
	outline: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.task-container {
	max-width: 70rem;
	margin-left: auto;
	margin-top: 5rem;
	margin-right: auto;
}

/* Button CSS */

.button-align {
	bottom: 0;
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	margin-top: auto;
	float: none;
}

.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	width: 100%;
	border-radius: 6px;
	border: none;
	background-color: rgb(49, 132, 52);
	color: white;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
	transition: all 0.5s;
}

.button span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span::after {
	position: absolute;
	content: '\00bb';
	opacity: 0;
	top: 0;
	right: -0.5rem;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 1rem;
}

.button:hover span::after {
	opacity: 1;
	right: 0;
}

/* Profile page CSS */

.profile-body-container {
	display: grid;
	grid-template-columns: 30% auto;
	grid-column-gap: 1.5rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.sticky-grid-item {
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 5rem;
	margin-right: auto;
	margin-left: auto;
}

.grid-item {
	width: 100%;
}

#profile-box-grid {
	display: grid;
	width: 100%;
	background-color: #474747;
	grid-template-columns: 40% auto;
	border-radius: 6px;
	padding: 1rem;
	grid-column-gap: 1rem;
}

#profile-picture {
	width: 7rem;
	height: 7rem;
	border-radius: 7rem;
	object-fit: cover;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#brief-profile-description {
	width: 100%;
	color: white;
	margin: auto;
}

#profile-description {
	grid-column-start: 1;
	grid-column-end: 3;
	line-height: 2rem;
	color: white;
	margin: 0.5rem 0.5rem 0 0.5rem;
}

.achievement-box {
	margin-left: auto;
	margin-right: auto;
	padding: 0.6rem;
	display: grid;
	width: 100%;
	grid-template-columns: 25% auto;
	grid-column-gap: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#achievements-container {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-row-gap: 0;
	grid-template-columns: auto;
}

#achievements-container hr {
	width: 100%;
}

.achievement-icon {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	margin: auto;
	margin-top: 0;
}

.achievement-description {
	margin: 0;
	padding: 0;
}

.progress-bar {
	width: 90%;
	height: 1.5rem;
	border: 2px solid #80d4ff;
	border-radius: 1rem;
	padding: 0;
	position: relative;
	margin-top: 1rem;
}

.percentage {
	width: 100%;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	line-height: 1.5rem;
}

.bar100 {
	border-radius: 2rem;
	background-color: #80d4ff;
	width: 100%;
	height: 100%;
}

.bar50 {
	border-radius: 2rem 0 0 2rem;
	background-color: #80d4ff;
	width: 50%;
	height: 100%;
}

.bar25 {
	border-radius: 2rem 0 0 2rem;
	background-color: #80d4ff;
	width: 25%;
	height: 100%;
}

/* Font CSS classes */

.big {
	font-size: larger;
}

.bigger {
	font-size: x-large;
}

/* Larger course section boxes on tablet */

@media screen and (min-width: 40rem) {
	.image-box {
		flex-direction: row;
	}

	.course-img {
		width: 40%;
		height: auto;
	}

	.course-image {
		height: 100%;
		border-radius: 6px 0 0 6px;
	}

	.course-description {
		width: 60%;
	}

	.course-title {
		padding: 0 0 0 1rem;
	}

	.button-align {
		position: relative;
		width: 100%;
		float: right;
		clear: none;
	}
}

/* Display the description-image on tablet and desktop */

@media screen and (min-width: 40rem) {
	#description-image {
		display: inline-block;
	}

	.description-text {
		max-width: calc(100% - 12rem);
	}
}

/* Display the course section horizontally on desktop */

@media screen and (min-width: 74rem) {
	.description {
		max-width: 70rem;
	}

	.flex-container {
		align-items: initial;
		justify-content: space-between;
		flex-direction: row;
		max-width: 70rem;
	}

	.image-box {
		width: 21.8rem;
		flex-direction: column;
	}

	.course-img {
		width: 100%;
		height: 13rem;
		float: none;
	}

	.course-image {
		border-radius: 6px 6px 0 0;
	}

	.course-description {
		width: 100%;
		height: auto;
		float: none;
		flex: 1;
	}

	.course-title {
		padding: 0 0 0 1rem;
	}

	.button-align {
		float: none;
	}
}

/* Special menu layout for mobile */

@media (max-width: 40rem) {
	nav {
		position: relative;
		height: 7rem;
	}

	body > .container {
		margin-top: 2rem;
	}

	nav .logo {
		display: block;
	}

	nav .menu {
		position: absolute;
		top: 3.5rem;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
	}

	nav .menu .item {
		float: none;
		flex: 1;
	}
}

/* Profile page tablet layout */

@media (max-width: 74rem) and (min-width: 40rem) {
	.profile-body-container {
		grid-template-columns: minmax(17rem, 35%) auto;
		width: 90%;
	}

	.sticky-grid-item {
		float: right;
	}

	#profile-picture {
		width: 5.5rem;
		height: 5.5rem;
		border-radius: 5.5rem;
	}

	.achievements-box {
		width: 100%;
		float: left;
	}

	.achievement-box {
		width: 90%;
	}

	#achievements-container {
		width: 100%;
	}

	#achievements-container hr {
		width: 90%;
	}

	.achievement-icon {
		width: 4rem;
		height: 4rem;
		margin-top: 0.5rem;
	}
}

/* Profile page mobile layout */

@media (max-width: 40rem) {
	.profile-body-container {
		grid-template-columns: auto;
	}

	.sticky-grid-item {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
		min-width: 16.5rem;
	}

	#profile-box-grid {
		grid-template-columns: 30% auto;
	}

	.achievements-box {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		min-width: 16.5rem;
	}

	#profile-picture {
		width: 5rem;
		height: 5rem;
		border-radius: 5rem;
	}

	#achievements-container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#achievements-container hr {
		width: 90%;
	}

	.achievement-icon {
		width: 3rem;
		height: 3rem;
		margin-top: 1rem;
	}
}

/* Course page mobile layout */

@media (max-width: 40rem) {
	.grid-container-two-columns {
		display: block;
		margin-top: 0;
		padding: 1rem;
	}

	.task-image {
		max-width: 18rem;
	}

	.grey-box {
		max-height: 0;
		transition: max-height 2s cubic-bezier(0, 1, 0, 1);
	}

	#taskmenu {
		padding-top: 0;
		margin-top: 0;
	}

	#task-button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		margin-top: 0;
		padding-top: 0;
		font-size: 1.5rem;
		margin-bottom: 0;
	}

	#taskmenu:focus .grey-box {
		max-height: 100rem;
		transition: max-height 2s ease;
	}

	.task-container {
		margin-top: 0;
	}
}

/* Course page tablet layout */

@media (max-width: 74rem) and (min-width: 40rem) {
	.grid-container-two-columns {
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: 1rem;
		padding: 1.5rem 1rem 1rem 1rem;
	}

	.task-image {
		max-width: 25rem;
		padding: 1rem;
	}

	ul.task {
		margin-left: 0.2rem;
	}

	#taskmenu {
		padding-top: 0;
		margin-top: 0;
	}

	.grey-box {
		max-height: 0;
		transition: max-height 2s cubic-bezier(0, 1, 0, 1);
	}

	#task-button {
		display: block;
		margin-left: auto;
		margin-top: 0;
		padding-top: 0;
		margin-right: auto;
		cursor: pointer;
		font-size: 1.5rem;
	}

	#taskmenu:focus .grey-box {
		max-height: 100rem;
		transition: max-height 2s ease;
	}

	.task-container {
		margin-top: 3rem;
	}
}
